/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mar-2018, 15:49:48
    Author     : Eva
*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

.login{
    margin: 10px;
}

.nav{
    font-size: 14px;
}

.body{
    font-size: 12px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
group + group {
  margin-top: 20px;
}

.inline-radio {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

div {
        position: relative;
        flex: 1;
}

input {
    width: 100%;
    height: 60px;
    opacity: 0;
}

label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

div:last-child label {
    border-right: 0;
}

input:checked + label {
    background: #d81b60;
    font-weight: 500;
    color: #fff;
}